*{
    margin: 0;
    padding: 0;
}

#header{
    height: 50px;
    line-height: 50px;
    background-color: #F5F5F5;
    margin-bottom: 5px;
}

#head-link{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #CDCDCD;
    background-color: #F5F5F5;
    margin-bottom:5px;
}

#head-link > div > a{
    padding: 0 20px;
    font-size: 20px;
    color: rgb(35, 34, 34);
    line-height: 25px;
    text-decoration: none;
}

.border1 {
    border: 3px  solid black;
    border-top: none;
    border-bottom: none;
}

.border2 {
   border-right: 3px  solid black;
}

#content {
    display: flex;
    width: 100%;
}

#content .content-left{
    width: 30%;
}

.content1{
    padding-bottom: 15px;
}

.content1 p{
    font-size: 18px;
}

.content-left-img {
    background-color: red;
    height: 200px;
}

#content .content-right{
    margin-left: 25px;
    width: 70%;
    background-color: chartreuse;
    height: 200px;
}

.content-right p{
    padding: 5px 0;
    font-size: 20px;

}

.content-right-video{
    background-color: slateblue;
    height: 450px;
}

#footer{
    height: 50px;
    border: 1px solid #CDCDCD;
    background-color: #F8F8FF;
}

#footer p{
    line-height: 50px;
    text-align: center;
}